.cardDiv {

	background-color: rgba(142,142,142,0.5);
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: 90%;
	border-radius: 10px;
	padding-top: 100px;
	x-overflow: fixxed;
	y-overflow: fixxed;
}
.cardDisplay {
	height: 300px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(250,250,250,0.9);
	border-radius: 10px;
	display: table;

}
.cardTextDisplay {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

