.cardDiv {

	background-color: rgba(142,142,142,0.5);
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: 90%;
	border-radius: 10px;
	padding-top: 100px;
	x-overflow: fixxed;
	y-overflow: fixxed;
}
.cardDisplay {
	height: 300px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	-webkit-perspective: 1000;

}
.cardDisplay:hover .cardDisplay-back, .cardDisplay.hover .cardDisplay-back {
	-webkit-transform: rotateY(0deg);
}

.cardDisplay:hover .cardDisplay-front, .cardDisplay.hover .cardDisplay-front {
	-webkit-transform: rotateY(180deg);
}
.flip {
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	position: relative:
}
.cardDisplay-front, .cardDisplay-back {
	height: 300px;
	width: 500px;
	background-color: rgba(250,250,250,0.9);
	vertical-align: middle;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);
	position: absolute;
}
.cardDisplay-front {
	z-index: 2;
	-webkit-transform: rotateY(0deg);
}
.cardDisplay-back {
	-webkit-transform: rotateY(180deg);
}

.buttonContainer {
	width: 100%;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-color: red;
}
