<template name="studydeck">
 	<div class="contMain"> 
		<div class="contMain-head">
			<h1 class="contMain-title">Basic Flashcards</h1>
		</div>
		<div>
			<form class="searchbarForm">
				<input type="text" class="searchBar" placeholder="Search...">
			</form>
			<select class="MineOrAllSelect">  
				<option value="mine" class="optionCSS">Mine Only</option>
				<option value="all" class="optionCSS">Show All</option>
			</select>
		</div>
		<div class="deckListing">
			<div class="List">
				{{#each getDecks}}
				<div id="{{_id}}" class="deckListDivs">{{name}} {{description}}</div>
				{{/each}}
			</div>
		</div>
		<div class="buttonsDiv">
			<div class="column-left">
				<form action="./something">
					<input type="submit" class="EditDeckButton" value="Edit Deck"/>
				</form>
			</div>
			<div class="column-right">
				<form action="./somethingelse"> 
					<input type="submit" class="DeleteDeckButton" value="Delete Deck"/>
				</form>
			</div>
			<div class="column-center">
				<form action="{{prepDeck}}{{pathFor 'study'}}">
					<input type="submit" class="StudyDeckButton" value="Study Deck"/>
				</form>
			</div>
		</div>
		<a href="{{pathFor 'home'}}"> back to home</a>
	</div>
</template>
