<template name="studydeck">
 	<div class="contMain">
		<div class="contMain-head">
			<h1 class="contMain-title">Basic Flashcards</h1>
		</div>
		<div class="deckListing">
			<select name="deck" size="10" class="deckListSelect">
				{{#each getDecks}}
				<option value="{{_id}}" class="deckListOption">{{name}} {{description}}</option>
				{{/each}}
			</select>
		</div>
		<div class="buttonsDiv">
			<div class="column-left">
				<form action="./something">
					<input type="submit" class="EditDeckButton" value="Edit Deck"/>
				</form>
			</div>
			<div class="column-right">
				<form action="./somethingelse"> 
					<input type="submit" class="DeleteDeckButton" value="Delete Deck"/>
				</form>
			</div>
			<div class="column-center">
				<form action="./somethingthird">
					<input type="submit" class="StudyDeckButton" value="Study Deck"/>
				</form>
			</div>
		</div>
	</div>
</template>
