<template name="CreateDeckCard">
	
	<div class="deckCreation">
		<div class="deckMetaBox">
			<div class="metaForm">
				<form class="MetaEnterForm">
					<ul class="metaList">
						<li class="metaLabel"><label class="metaLabelInput">Deck Name:</label></li><li><input type="text" class="metaFormInput" name="DeckName"></li>
						<li class="metaLabel"><label class="metaLabelInput">Deck Description:</label></li><li><input type="text" class="metaFormInput" name="DeckDescript"></li>
						<li><input type="submit" name="Create Deck" value= "Create Deck" class="metaDeckCreationButton"> </li>
					</ul>
				</form>
			</div>
		</div>
		<div class="contMain">
			<div class="contMain-head">
				<h1 class="contMain-title">Basic Flashcards</h1>
			</div>
			<div class="contMain-cardCreate">

				<div class="contMain-cardCreateHolder">
					<form class="AddCardForm">
						<ul class="CardAddList">
							
							<li class="LabelLeft"><label class="InputLabel">Card Front:</label></li><li> <textarea rows="5" cols="50" name="CardFront" class="CardAdd"></textarea></li>
							<li class="LabelLeft"><label class="InputLabel">Card Back:</label></li><li> <textarea  rows="5" cols="50" name="CardBack" class="CardAdd"></textarea></li>
							
							<li class="CreateDeckButtons"><input type="submit" name="Add Card" value="Add Card" class="green-sea-flat-button1">
									<button type="button" class="CreateDeckButton" name="CreateButton">Create Deck</button></li>
						</ul>
					</form>
			</div>
			</div>
			<div class="contMain-existing">
				<div class="cardFronts" name="existCardFronts" id="existCardFronts"> 
					<ul class="ExistCardDisp">
						{{#each tempAddFront}}
							<li>{{#if isEmpty this }}
									empty
								{{else}}
									{{this}}
								{{/if}}</li>
						{{/each}}
					</ul>
				</div>
				<div  class="cardBacks" name="existCardBacks" id="existCardBacks">
					<ul class="ExistCardDisp">
						{{#each tempAddBack}}
							<li>{{#if isEmpty this }}
									empty
								{{else}}
									{{this}}
								{{/if}}</li>
						{{/each}}
					</ul>
				</div>
			</div>
			<a href="{{pathFor 'home'}}"> back to home</a>
		</div>	
	</div>

	{{onLoadCheck}}

</template>